
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}

/* Define the styles for the scrollbar track */
::-webkit-scrollbar {
  width: 0px; /* Set the width of the scrollbar */
  background-color: #070708; /* Set the color of the thumb */
}

/* Define the styles for the scrollbar handle or thumb */
::-webkit-scrollbar-thumb {
  background-color: #d0d1d1; /* Set the color of the thumb */
  border-radius: 6x; /* Set the border radius to round the corners */
}

/* Define the styles for the scrollbar track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #242a37; /* Set the background color on hover */
}

/* Define the styles for the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Set the thumb color on hover */
}

body {
  width: 100%;
  /* height: 100vh ; */
  font-size:17px;
  color:#ffffff;
  line-height:28px;
  font-weight:400;
  background:  rgba(11, 11, 11, 0.912);
  font-family: var(--text-font);
  background-image: url(../img/login-pic.png);
  background-size: cover;
  background-repeat:no-repeat;
  background-position:right top;
  
  -webkit-font-smoothing: antialiased;
}

p {
  color:#bebbbb;
}
h1 {
  color:#dadada;
  font-family: var(--text-font);
  font-size: 20px;
  
}



form {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  /* height: 100vh; */
}

/* Add padding to containers */
.auth-container {
  max-width: 400px;
  /* height: 100vh; */
  bottom: 0;
  /* position: absolute; */
  padding: 16px;
  padding-top: 30px;
  margin: 0 auto;
  box-shadow: 0px 0px 30px -2px #000000;
  background: #1b1b1b;
  backdrop-filter: blur(2px);
  overflow-y: scroll;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #303030b6;
  border-radius: 6px;
  /* box-shadow: 3px 3px 10px #151516; */
  font-family: var(--text-font);
  color: #f1f1f1;

}

input[type=text]:focus, input[type=password]:focus {
  background: #5e5e5e8c;
  outline: none;
  color: #f1f1f1;
}

input::placeholder {
  color: #8b8c8d;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #26ba5fb7;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  box-shadow: 3px 3px 10px #151516;
  font-family: var(--title-font);
  font-size: 18px;
  border-radius: 6px;
  transition: .2s;
}

.registerbtn:hover {
  /* opacity:1; */
  color: #26ba5e;
  border: 1px solid #26ba5e;
  background-color: #151516;
  transition: .2s;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
  /* text-decoration: underline; */
}
a:hover {
  color: #6fb6fe;
  /* text-decoration: underline; */
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  /* background-color: #f1f1f1; */
  text-align: center;
}
#forgotpasslabel{
  cursor: pointer;
  font-size: 16px;
  padding-top: 16px;
  color: dodgerblue;
  transition: .3s;
}
#forgotpasslabel:hover {
  color: #6fb6fe;
  transition: .3s;
}
