

:root{
    --color-primary: #26ba5e;
}

/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
} */



 #modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

#modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

#modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 20px;
  cursor: pointer;
  color: #666;
}

#modal-close:hover {
  color: #000;
}

#modal-message {
  font-size: 16px;
  color: #333;
}

    

.circle-container {
  position: relative;
  height: 30px;
  width: 30px;
}

.circle-progress {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid #ACCAFF36;
  border-radius: 50%;
}

.circle-progress::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #ACCAFF;
  top: -5px;
  left: -5px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

/* .preloader-wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.preloader2 {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid #1abc9c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* Style for the page content */
/* h1, p {
  text-align: center;
} */




.pricing-table {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #ffffff;
  border-top: 4px solid #2A293E;
}

.pricing-table .ptable-item {
  width: 24%;
  padding: 0 15px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .pricing-table .ptable-item {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .pricing-table .ptable-item {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .pricing-table .ptable-item {
    width: 100%;
  }
}

.pricing-table .ptable-single {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.pricing-table .ptable-header,
.pricing-table .ptable-body,
.pricing-table .ptable-footer {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.pricing-table .ptable-status ,
.pricing-table .ptable-title,
.pricing-table .ptable-price,
.pricing-table .ptable-description,
.pricing-table .ptable-action {
  position: relative;
  width: 100%;
  text-align: center;
}

.pricing-table .ptable-single {
  background: #484850;
  border-radius: 0px 0px 6px 6px;
}

.pricing-table .ptable-single:hover {
  box-shadow: 0 2rem 3rem var(--color-light);
}

.pricing-table .ptable-header {
  /* margin: 0 30px; */
  padding: 30px 30px 45px 30px;
  width: auto;
  background: #2A293E;
}

.pricing-table .ptable-header::before,
.pricing-table .ptable-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #484850;
}

.pricing-table .ptable-header::before {
  right: 50%;
  border-right: 250px solid transparent;
}

.pricing-table .ptable-header::after {
  left: 50%;
  border-left: 250px solid transparent;
}

.pricing-table .ptable-item.featured-item .ptable-header {
  background: var(--color-primary);;
}

.pricing-table .ptable-status {
  margin-top: -30px;
}

.pricing-table .ptable-status span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  color: var(--color-primary);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  background: #2A293E;
}

.pricing-table .ptable-status span::before,
.pricing-table .ptable-status span::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid var(--color-primary);;
}

.pricing-table .ptable-status span::before {
  right: 50%;
  border-right: 25px solid transparent;
}

.pricing-table .ptable-status span::after {
  left: 50%;
  border-left: 25px solid transparent;
}

.pricing-table .ptable-title h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 10px 0px 16px 0px;
}

.pricing-table .ptable-price h2 {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-left: 15px;
}

.pricing-table .ptable-price h2 small {
  position: absolute;
  font-size: 16px;
  font-weight: 300;
  margin-top: 4px;
  margin-left: -10px;
}

.pricing-table .ptable-price h2 span {
  margin-left: 3px;
  font-size: 16px;
  font-weight: 300;
}

.pricing-table .ptable-body {
  padding: 20px 0;
}

.pricing-table .ptable-description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing-table .ptable-description ul li {
  /* color: #2A293E; */
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 10px 7px;
  border-bottom: 2px solid #2A293E;
}

.pricing-table .ptable-description ul li:last-child {
  border: none;
}

.pricing-table .ptable-footer {
  padding-bottom: 30px;
}

.pricing-table .ptable-action a {
  display: inline-block;
  padding: 10px 20px;
  color: #2A293E;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  background: #2A293E;
  border: 2px solid var(--color-primary);
  /* background:var(--color-primary); */
  border-radius: 4px;
  transition: .3s;
}

.pricing-table .ptable-action a:hover {
  color: #2A293E;
  background: var(--color-primary);
}

.pricing-table .ptable-item.featured-item .ptable-action a {
  color: #2A293E;
  background: var(--color-primary);;
}

.pricing-table .ptable-item.featured-item .ptable-action a:hover {
  color: var(--color-primary);;
  background: #2A293E;
}

/* FAQ */
.accordion .accordion-item h2 button {
  font-size: 1.4rem;
}
.accordion .accordion-item h2 button:hover {
  background-color: #26ba5f31;
}
.accordion .accordion-item .accordion-body {
  font-size: 1.1rem;

}
.accordion .accordion-item .accordion-body a {
  background-color: var(--color-primary);
  border: 0px solid;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
}
.accordion .accordion-item .accordion-body a:hover {
  background-color: #23a153;
  color: #ffffff;
}